@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
object {
	width: 100%;

}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    box-sizing: border-box;

}

:root{
    --azul: #487BBC ;
    --verde: #4BAF5C;
    --vermelho: #A83334;
    --cinza: #CAC7C7;
    --branco: #FEFEFE;
}

body{
    background-color: var(--cinza);
    margin: auto;
}

main{
    background-color: var(--branco);
    margin: auto;
    padding: 50px;
}


header figure{
    height: 90px;
    padding: 15px;
    display: inline-block;
}


header nav{
    display: inline-block;
    margin-left: auto;
}

header li:hover{
    background-color: var(--verde);
    border-radius: 15px;
}

section{
    height: 450px;
    display: flex;
    align-items: center;
    /* border: 10px solid black; */
}

footer{
    height: 100px;
    margin-top: 15px;
    border-top: 5px solid var(--verde);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--branco);
    background-color: var(--azul);
}

footer figure{
    height: 90px;
    margin: 15px;
    padding: 15px;
    display: inline-block;
}

footer h3{
    display: inline-block;
    margin: 15px;
}

footer img{
    height: 100%;
}

footer a{
    margin: 15px;
}


.banner-first{
    background-color: var(--branco);
}

.banner-first figure{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    padding: 40px;
}

.banner-first img{
    height: 100%;
}

.banner-first article, .banner-second article{
    text-align: center;
    margin-left: auto;
}

h1{
    font-size: 3em;
    font-weight: bolder;
}

.banner-first h3{
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 50px;
    color: var(--verde);
    text-shadow: 3px 2px 3px rgba(190, 190, 190, 0.685);
}

.banner-second{
    background-color: var(--azul);
    color: var(--branco);
}

.banner-second p{
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: 30px;
}

.banner-third{
    background-color: var(--branco);
    justify-content: center;
}

.banner-third article{
    width: 400px;
    margin: 60px;
}

.banner-third h1{
    font-size: 2em;
}

.banner-third p{
    margin-top: 30px;
}

.banner-fourth{
    background-color: var(--azul);
}

.banner-fifth{
    background-color: var(--branco);
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.banner-fifth article{
    height: 80%;
    flex-direction: row;
    display: flex;
    
}

.banner-fifth h3{
    margin: 2%;
    width: 100%;
}

.banner-fifth figure{
    display: inline-block;
    height: 90%;
}

.banner-fifth img{
    height: 100%;
}

.banner-fifth button{
    width: 60%;
    height: 20%;
    background-color: var(--verde);
    border: none;
    border-radius: 20px;
    /* box-shadow: 3px 2px 3px rgba(19, 19, 19, 0.685); */
}

.banner-fifth article div a{
    text-decoration: none;
    color: var(--branco);
}

.banner-fifth article div button:hover{
    transform: scale(1.10);
    box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.685);
}

.banner-fifth article div{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5%;
}

.banner-sixth{
    background-color: var(--azul);
}

.banner-seventh{
    background-color: var(--branco);
}